form {
  display: grid;
  direction: RTL;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 20px;
  border-radius: 16px;
  justify-items: center;
  align-content: space-evenly;
  font-size: 20px;
  margin: 40px 20px 20px 20px;
}

.guestForm input {
  padding: 10px 0 5px 0;
  margin-bottom: 30px;
  outline: none;
  border: none;
  border-bottom: 2px solid #999;
  line-height: 22px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.guestForm div {
  position: relative;
}

.guestForm div label {
  position: absolute;
  top: 10px;
  right: 0;
  color: #999;
  transition: 0.5s;
  pointer-events: none;
  text-align: end;
}

.guestForm input:focus ~ label,
.guestForm input:valid ~ label {
  top: -12px;
  right: 0;
  color: #84a98c;
}

.guestForm input:focus,
.guestForm input:valid {
  border-bottom: 2px #84a98c solid;
}

.guestForm button {
  border: none;
  border-radius: 12px;
  color: #fff;
  padding: 0 8px;
  height: 40px;
  width: 150px;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.submitButton {
  background-color: #84a98c;
}

.guestForm .submitButton:hover {
  background-color: #52796f;
}

.cantButton {
  background-color: #888; /*#f45b69;*/
}

.cantButton:hover {
  background-color: #f45b69; /*#db162f;*/
}

.buttons {
  display: flex;
  gap: 10px;
}
