.formAndInvite {
  display: flex;
  flex-direction: column;
}

.invitation {
  object-fit: cover;
  width: 100vw;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

@media only screen and (min-width: 600px) {
  .formAndInvite {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  .invitation {
    width: 30vw;
    margin: 40px 20px 20px 20px;
  }

  form {
    width: 30vw;
  }
}
